body {
    background-color: #fff;
    color: #000;
    text-align: center;
  }
  
  div {
    padding: 2em;
  }
  
  h1 {
    font-family: sans-serif;
  }
  
  input {
    background-color: #404040;
    border-color: #202020;
    color: #F0F0F0;
    padding: 0.5em;
    width: 3em;
  }
  
  strong {
    font-size: 1.5em;
  }